
body {
	padding: 0;
	margin: 0;
}

.main {
	background-image: url("/BigloTemp/assets/img/background1");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;  /*target / context = result ==> 1440px / 960px*/ 
	height: 1497px;
	bottom: 0;
} /**main background**/

.logo img{
	
	width: 7.916666666% ; /*76 / 960 = 7.916666666% */ /**  **/
	height: 21.784776902%; /*166/762 = 21.784776902% */ /**  **/
} /**the b logo**/

p {
	text-align: center;
} /***b logo**/


.h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 275%; /*44px/ 16*/
	text-transform: uppercase;
	color: rgba(255, 191, 12, 100);
	text-align: center;
} /**heading 1**/

/**word1, plus1, word2, plus2 and word3 are just part of the .h2**/


#word1, #plus1, #word2, #plus2, #word3 {
	display: inline-block;
}


.h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 225%; /*36px/ 16*/
	color: rgba(255, 179, 15, 100);
	text-align: center;
	letter-spacing: -1.31px; 
	
} /**heading 2**/

.h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 150%; /*24px/ 16*/
	color: rgba(255, 179, 15, 100);
	text-align: center;
	letter-spacing: -0.87px;

} /**heading 3**/

.caret_hidden {
	visibility: hidden;
}
.middle_transparent {
	background: rgba(255, 255, 255, 0.69);
	height: 28.189712758%; /* 422 / 1497*/
	width: 100%;
} /**middle container that's transparent**/

.middle_content {
	position: relative;
	top: -25.4%;
} /**content inside the middle (transparent) div container**/

.phone_image img {
	width: 25%; /*360/1440 = 25%*/
	height: 88.625592417%; /* 374/1497*/ /**374 / 422 = 0.88625592417 **/
	float: left;
	clear: right;
	margin-left: 18%;
	margin-top: 2.8%;
} /**iphone**/

.form-group {
	text-align: left;	
	float: right;
	clear: right;
	margin-right: 14%;
} /**form as a whole**/

.form_title {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 275%; /*44px/ 16*/
	color: rgba(1, 41, 95, 100);
	text-transform: none;
	letter-spacing: -1.6px;
	margin-top: -0.6em;
} /**"let's do this**/


.form-group form input {
	border: none;
	border-bottom-style: solid;
	border-color: rgba(125, 125, 125, 100);
    background: transparent;
    letter-spacing: 0.18px;
    font-size: 18px;
} /**form input**/

.form-group form input:focus {
	outline: 0;
} /**form input when clicked**/

.form-group form input:active {
	outline: 0;
	background-color: transparent;
} 


button {
	background-color: rgba(255, 179, 15, 100);
	width: 210px 14.583333333%; /* 210 / 1440* = 14.583333333% or 210/960 = 0.21875 */ 
	height: 48px 11.374407582%; /* 48 / 422  = 11.374407582%*/
	border-radius: 25px; /****/
	border: none;
	padding: 10px 40px;
	margin-left: 30%;

} /** submit button**/

.footer { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 120%; /*24px/ 16*/
	color: rgba(255, 179, 15, 100);
	text-align: center;
	position: absolute;
	margin-top: 25%; 
	display: inline-block; /**centered the text finally!!**/

} /**footer**/


	