
body {
	margin: 0 ;
	padding: 0 ;
	margin-top: -1em;
}
.main {
	background-image: url("/BigloTemp/assets/img/background1");
	background-repeat: no-repeat;
	background-position: center;
	min-width: 321px;  /*target / context = result ==> 1440px / 960px*/ 
	height: 1497px;
	bottom: 0;
} /**main background**/

.logo img{
	
	width: 48px; /*76 / 960 = 7.916666666% */ /**  **/
	height: 105px; /*166/762 = 21.784776902% */ /**  **/
} /**the b logo**/

p {
	text-align: center;
} /***b logo**/


.h1 {
	color: rgba(255, 191, 12, 100);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 36px; /*44px/ 16*/
	font-weight: normal;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	

	
} /**heading 1**/

/**word1, plus1, word2, plus2 and word3 are just part of the .h2**/


#word1, #plus1, #word2, #plus2, #word3 {
	float: none;
}


.h2 {
	color: rgba(255, 179, 15, 100);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px; /*36px/ 16*/
	font-weight: normal;
	letter-spacing: -1.31px; 
	text-align: center;
	
	
} /**heading 2**/

.caret_hidden p {
	visibility: visible;
	margin-top: 2.5em;
	margin-bottom: 5em;
}

.h3 {
	color: rgba(255, 179, 15, 100);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px; /*24px/ 16*/
	font-weight: normal;	
	text-align: center;


} /**heading 3**/

.caret_shown {
	position: relative;
	bottom: -14em;
}


.middle_transparent {
	background: rgba(255, 255, 255, 0.69);
	height: 449px; /* 422 / 1497*/
	width: 321;
	position: relative;
	top: 15em;
;
} /**middle container that's transparent**/

.middle_content {
	position: relative;
	top: -15em;
} /**content inside the middle (transparent) div container**/

.phone_image img {
	width: 0;
	visibility: hidden;
} /**iphone**/

.form-group {
	position: relative;
	top: 4em;

} /**form as a whole**/

.form_title {
	color: rgba(1, 41, 95, 100);
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 44px; /*44px/ 16*/
	font-weight: normal;
	letter-spacing: -1.6px;

	
} /**"let's do this**/



.form-group form input {
	border: none;
	border-bottom-style: solid;
	border-color: rgba(125, 125, 125, 100);
    background: transparent;
    letter-spacing: 0.18px;
    line-height: 27px;
    font-size: 18px;
    margin-top: 1.5em;
    margin-left: 3em;
    width: 210px;
    

} /**form input**/



.form-group form input:focus {
	outline: 0;
} /**form input when clicked**/

.form-group form input:active {
	outline: 0;
	background-color: transparent;
} 

.form-group form input.message {
	height: 0;
	visibility: hidden;
}

button {
	background-color: rgba(255, 179, 15, 100);
	width: 210px 14.583333333%; /* 210 / 1440* = 14.583333333% or 210/960 = 0.21875 */ 
	height: 48px 11.374407582%; /* 48 / 422  = 11.374407582%*/
	border-radius: 25px; /****/
	border: none;
	padding: 10px 40px;
	margin-left: 6.5em;
	position: relative;
	top: 4em;

} /** submit button**/

.footer { 
	visibility: hidden;
} /**footer**/


	