
body {
	margin: 0 ;
	padding: 0 ;
	margin-top: -1em;
}

html {
  	background: url(assets/img/Background1.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

} 

.main {
	
	min-width: 321px;  /*target / context = result ==> 1440px / 960px*/ 
	height: 1497px;
	bottom: 0;
} /**main background**/

.logo img{
	margin-top: 1em;
	width: 48px; /*76 / 960 = 7.916666666% */ /**  **/
	height: 105px; /*166/762 = 21.784776902% */ /**  **/
} /**the b logo**/

p {
	text-align: center;
} /***b logo**/


.h1 {
	color: rgba(255, 191, 12, 100);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 200%; /*44px/ 16*/
	font-weight: normal;
	line-height: 48px;
	text-align: center;
	margin-top: 10%;


		
} /**heading 1**/


	
button  {
	background-color: rgba(255, 179, 15, 100);
	border: none;
	border-radius: 25px; /****/
	font-size: 18px;
	height: 48px; /* 48 / 422  = 11.374407582%*/
	margin: 0 auto;
	padding: 10px 20px;
	text-align: center;
	width: 210px ; /* 210 / 1440* = 14.583333333% or 210/960 = 0.21875 */ 

} /** submit button**/

.footer { 
	visibility: hidden;
} /**footer**/

/**error page css**/

.alert {
    color: red;
    margin-bottom: 15px;
    padding: 20px;
    position: relative;
    top: 1.25em;
}


.middle_transparent {
	background: rgba(255, 255, 255, 0.69);
	/*background-color: rgba(255, 179, 15, 1);*/
	height: 20%; /* 422 / 1497*/
	position: relative;


} /**middle container that's transparent**/

	