@media only all and (min-width: 1200px)

{
	.main {
		min-width: 1200px;
	}

	.logo img {
		width: 7.916666666% ; /*76 / 960 = 7.916666666% */ /**  **/
		height: 21.784776902%; /*166/762 = 21.784776902% */ /**  **/
		margin-top: 2em;
	}

		p {
		text-align: center;
	} 

	.h1 {
		font-size: 275%;
	}

	.h2 {
		font-size: 225%; /*36px/ 16*/
		letter-spacing: -1.31px; 

	}

	.h3 {
		font-size: 150%; /*24px/ 16*/
		position: relative;
		top: -2em;
	}

	#word1, #plus1, #word2, #plus2, #word3 {
		display: inline-block;
		margin: 0 auto;
		margin-right: -10px;
	}

	.caret_hidden p {
		visibility: hidden;
		width: 0;
		height: 0;
	}

	.caret_shown {
		bottom: -4em;
	}

	.middle_transparent {
		top: 5em;
	}


	.phone_image img {
		visibility: visible;
		width: 360px;
		height: 374px;
		position: absolute;
		left: 15em;
		top: 4.7em;
	}

	.form-group {
		position: absolute;
		left: 45%;
		top: -10em;
	}

	.form_title {
		position: relative;
		left: -1em;
		text-align: center;

	}

	.form-group form input {
		margin: 0 auto;
		margin-left: 1em;
		margin-top: 10%;
		width: 166px;

	}

	.form-group form input.message {
		visibility: visible;
		height: 100%;
		width: 355px;
		margin-top: 2em;
	}

	button {
		position: relative;
		top: 4em;

	}

	.footer {
		visibility: visible;
		
		font-size: 120%; /*24px/ 16*/
		color: rgba(255, 179, 15, 100);
		text-align: center;
		position: relative;
		top: 16em;
			
	}

}

