@media only all and (min-width: 1600px)

{

	.phone_image img {
		left: 25em;
	
	}

	.form-group form input {
		position: relative;
		left: 1em;
	}

	button {
		position: relative;
		left: 1em;
	}

	.footer {
		visibility: visible;
		font-size: 120%; /*24px/ 16*/
		color: rgba(255, 179, 15, 100);
		text-align: center;
		position: relative;
		top: 10em;
			
	}

}

