@media only all and (min-width: 768px) and (max-width: 1024px) 

{

	.main {
		min-width: 768px;
	}

		.logo img {

		margin-top: 2em;
	}
	
	.form-group {
		text-align: center;

	}

	.form-group form input.message {
		visibility: visible;
		height: 100%;
		width: 65%;
		margin-top: 2em;

		
	}

	button {
		text-align: center;
		position: relative;
		left: -1em;
		
	}

	.footer {
		visibility: visible;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 120%; /*24px/ 16*/
		color: rgba(255, 179, 15, 100);
		text-align: center;
		

			
	}
}