@media only all and (min-width: 768px) and (max-width: 1024px) 

{

	.main {
		min-width: 768px;
	}

	.form-group {
		padding-left: 2em;
	}

	.form-group form input.message {
		visibility: visible;
		height: 100%;
		width: 477px;
	}

	button {
		margin-left: 16.5em;
	}

	.footer {
		visibility: visible;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 120%; /*24px/ 16*/
		color: rgba(255, 179, 15, 100);
		text-align: center;
		position: relative;
		top: 2em;


		
			
	}
}