@media only all and (min-width: 1024px) and (max-width: 1200px) 

{

	.main {

		min-width: 1024px;
	}

	.logo img {

		margin-top: 2em;
	}

	#word1, #plus1, #word2, #plus2, #word3 {
	display: inline-block;
	
	}

	.h1 {
		font-size: 42px;
	}

	.h2 {
		font-size: 36px;
	}

	.h3 {
		position: relative;
		top: -2em;
	}

	.caret_hidden p {
		visibility: hidden;
	}


	.form-group {
		margin: 0 auto;
		margin-left: 20%;
		margin-right: 20%;

	}

	.form_title {
		text-align: center;
	}

	.form-group form input.message {
		visibility: visible;
		height: 100%;
		width: 65%;
		margin-top: 2em; 
	}

	button {
		position: relative;
		top: 4em;
		margin: 0 auto;
		margin-left: 40%;
		margin-right: 40%;
	}


	.footer {
		visibility: visible;
	
		font-size: 120%; /*24px/ 16*/
		color: rgba(255, 179, 15, 100);
		text-align: center;
		position: relative;
		top: 8em;
			
	}
}